.App {
  text-align: center;
}

.title {
  color: #d44b15;
  text-align: center;
  background-color: #e5e4e4;
  /* font-size: 1em; */
  font-family: Lato, serif;
  margin-top: 0px;
}

.title-r1 {
  line-height: 1em;
  font-size: 7em;
  font-weight: 100;
}

.title > span {
  color: #fff;
  font-size: 2em;
  font-style: italic;
  vertical-align: bottom;
  margin: 0 -0.3em;
}
pre {
  text-align: left;
  overflow-x: scroll;
  overflow-y: hidden;
}

form {
  text-align: left;
  margin: 0 auto;
  display: 'inline-block';
}
form > div {
  margin-bottom: 1rem;
}

nav {
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem;
  font-size: 2em;
  font-family: Lato, serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

nav a {
  color: brown;
  text-decoration: none;
}
